.compare-container{

padding:30px;

color:white;

}

.compare-inputs{

display:flex;

gap:15px;

margin-bottom:30px;

}

.compare-inputs input{

padding:10px;

font-size:16px;

border-radius:8px;

border:none;

width:170px;

}

.compare-inputs button{

background:#2962ff;

color:white;

border:none;

padding:10px 25px;

border-radius:8px;

cursor:pointer;

}

table{

width:100%;

border-collapse:collapse;

background:#181818;

}

th{

background:#2962ff;

padding:12px;

}

td{

padding:12px;

text-align:center;

border-bottom:1px solid #444;

}